$white: white;
$purple: #5800FF;
$light-blue: #0096FF;
$sky-blue: #00D7FF;
$grey: grey;
$lighter-grey: rgba(128, 128, 128, 0.493);
$black: rgb(27, 27, 27);
$lighter-black: rgb(51, 51, 51);

$gradient: linear-gradient($sky-blue, $purple);
$gradient-2: linear-gradient($light-blue, $purple);